{{##def.page_title = 'Reset Password' #}}

{{##def.content:
<script type="text/javascript">
    function randomPassword(len) {
        var chars = "abcdefghijkmnopqrstuvwxyzABCDEFGHJKLMNP123456789";
        if (window && window.crypto && window.crypto.getRandomValues && Uint32Array && Uint32Array.prototype.reduce) {
            return window.crypto.getRandomValues(new Uint32Array(len))
                .reduce(function(p, n) { return p + chars[n % chars.length] }, "");
        } else {
            console.warn('Falling back to pseudo-random client seed');
            var pass = "";
            for (var i = 0; i < len; ++i)
                pass += chars[Math.floor(Math.random() * chars.length)];
            return pass;
        }
    }

    function generate() {
        document.getElementById('password').value = randomPassword(10);
    }
</script>
<style>
    label {
        font-size: 1rem;
    }
</style>
<div class="login">
    <form action="/sent-reset" method="post" onsubmit="return confirm('Make sure you have written down your password')">
        <div class="row">
            <div class="large-12 columns">
                <br>
                <h4>Password Reset</h4>
                <br>
                <label for="password">New Password</label>
                <div class="large-9 columns small-8" style="padding-left: 0px;">
                    <input type="text" autocomplete="off" pattern=".{7,200}" id="password" name="password" style="font-weight: bold;" readonly required/>
                </div>
                <div class="large-3 columns small-4" style="padding-right: 0px;">
                    <button class="hide-for-small-only" type="button" onClick="generate();" tabindex="2" style="font-size: 0.875rem; background-color: #e58929; height: 2.3125rem; padding-top: 11px;"><i class="fa fa-refresh"></i> Another </button>
                    <button class="show-for-small-only" type="button" onClick="generate();" tabindex="2" style="font-size: 0.875rem; background-color: #e58929; height: 2.3125rem; padding-top: 11px;"><i class="fa fa-refresh"></i></button>
                </div>
                <p style="color:red;" class="small"><b>Important: </b>Make sure you write down your new password or <em>you will lose your account</em>.</p>
                <input name="recover_id" type="hidden" value="{{!it.recoverId}}"/>
                <input class="border-button right green" type="submit" value="Reset Password"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    generate();
</script>
#}}
{{#def.include('./template/main_old')}}