{{##def.page_title = 'Update your Password' #}}
{{##def.content:
<style>
    label {
       font-size: 1rem;
    }
</style>
<script type="text/javascript">

    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<script type="text/javascript">
    function randomPassword(len) {
        var chars = "abcdefghijkmnopqrstuvwxyzABCDEFGHJKLMNP123456789";
        if (window && window.crypto && window.crypto.getRandomValues && Uint32Array && Uint32Array.prototype.reduce) {
            return window.crypto.getRandomValues(new Uint32Array(len))
                .reduce(function(p, n) { return p + chars[n % chars.length] }, "");
        } else {
            console.warn('Falling back to pseudo-random client seed');
            var pass = "";
            for (var i = 0; i < len; ++i)
                pass += chars[Math.floor(Math.random() * chars.length)];
            return pass;
        }
    }

    function generate() {
        document.getElementById('password').value = randomPassword(10);
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li>
                    <a href="/account">Account</a>
                </li>
                <li class="active">
                   <a href="/security">Security</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>
                <li>
                    <a href="/transfer">Transfer</a>
                </li>
                <li>
                    <a href="/support">Support</a>
                </li>

                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns sets-content">
            <h4>Update Your Password</h4>
            <br>
            <form action="reset-password" method="post" onsubmit="return confirm('Are you sure you have written down your password, and want to change it?')" >
                <label  for="old_password">Old Password</label>
                <input name="old_password" type="password" id="old_password" autocomplete="off" required/>
                {{?it.user.mfa_secret}}
                    <label >2FA Code
                        <input name="otp" type="text" pattern="[0-9]{6}" required />
                    </label>
                {{?}}
                <label  for="password">New Password <span style="color:red;" class="small"><b>Important: </b>Make sure you write down your new password or <em>you will lose your account</em>.</span></label>
                <div class="large-9 columns small-8" style="padding-left: 0px;">
                    <input name="password" type="text" id="password" pattern=".{7,50}" style="font-weight: bold;" readonly required/>
                </div>
                <div class="large-3 columns small-4" style="padding-right: 0px;">
                    <button class="hide-for-small-only" type="button" onClick="generate();" tabindex="2" style="font-size: 0.875rem; background-color: #e58929; height: 2.3125rem; padding-top: 11px;"><i class="fa fa-refresh"></i> Another </button>
                    <button class="show-for-small-only" type="button" onClick="generate();" tabindex="2" style="font-size: 0.875rem; background-color: #e58929; height: 2.3125rem; padding-top: 11px;"><i class="fa fa-refresh"></i></button>
                </div>
                <button type="submit" class="border-button right">Change</button>
            </form>
            <br>
            <br>
            <hr>

         </div>
        </div>
    </div>

<script type="text/javascript">
    generate();
</script>
#}}
{{#def.include('./template/main_old')}}
